// Variables
//colors
$primary-violet: hsl(257, 40%, 49%);
$primary-soft-magenta: hsl(300, 69%, 71%);

// typeface
$font-family-primary: "Poppins", sans-serif;
$font-family-secondary: "Open Sans", sans-serif;
$size-x-large: 2.5rem;
$size-large: 1.5rem;
$size-medium: 1.125rem;
$size-small: 0.75rem;
$weight-normal: 400;
$weight-bold: 600;

// breakpoints for different screen sizes
$layout-breakpoint-medium: 60rem; //960px
$layout-breakpoint-large: 75rem; // 1200px

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
#root,
#__next {
	isolation: isolate;
}

// layout styles
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: $font-family-primary;
	padding: 2.2rem;
	background-color: $primary-violet;
	background-image: url(/images/bg-mobile.svg);
	background-repeat: no-repeat;
	color: white;
}

.header {
	text-align: left;

	&-logo {
		height: 1.9rem;
	}
}

.main {
	display: flex;
	flex-direction: column;
	padding: 3.8rem 0 2rem 0;
}

.text {
	padding: 3.75rem 0 2rem 0;
	text-align: center;

	&-title {
		font-size: $size-large;
		font-weight: $weight-bold;
	}

	&-content {
		font-family: $font-family-secondary;
		padding: 1rem 0 1.5rem 0;
	}

	&-button {
		padding: 0.7rem 4.7rem;
		border-radius: 1.5rem;
		border: none;
		color: $primary-violet;
		font-size: $size-small;

		&:hover {
			background-color: $primary-soft-magenta;
			color: white;
			box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.25);
		}
	}
}

// footer  styles
.footer-socials {
	padding: 0 2rem 2rem 0;

	display: flex;
	justify-content: center;
	list-style-type: none;

	& li {
		width: 2rem;
		display: inline-block;
	}

	& a {
		color: white;
	}

	& .fa-stack {
		font-size: $size-small;
	}
}
.attribution {
	font-size: 11px;
	text-align: center;
}

@media only screen and (min-width: $layout-breakpoint-medium) {
	body {
		padding: 5rem;
		background-image: url(/images/bg-desktop.svg);
	}
	.header-logo {
		height: 2.8rem;
	}
	.main {
		flex-direction: row;
		padding-top: 2.5rem;
	}
	.text {
		margin-left: 3.75rem;
		text-align: left;
		flex-basis: 42%;

		&-title {
			font-size: $size-x-large;
		}

		&-content {
			font-size: $size-medium;
		}
	}
	.footer-socials {
		justify-content: end;
		gap: 1rem;
		padding-right: 1rem;

		& li {
			width: 3rem;
			padding-left: 0.75rem;
		}

		& .icon:hover {
			color: $primary-soft-magenta;
		}

		& .fa-stack {
			font-size: $size-medium;
		}
	}
}
