/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Poppins", sans-serif;
  padding: 2.2rem;
  background-color: #674baf;
  background-image: url(/images/bg-mobile.svg);
  background-repeat: no-repeat;
  color: white;
}

.header {
  text-align: left;
}

.header-logo {
  height: 1.9rem;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3.8rem 0 2rem 0;
}

.text {
  padding: 3.75rem 0 2rem 0;
  text-align: center;
}

.text-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.text-content {
  font-family: "Open Sans", sans-serif;
  padding: 1rem 0 1.5rem 0;
}

.text-register {
  display: block;
  width: 12.5rem;
  background-color: white;
  margin: 0 auto;
  text-decoration: none;
  padding: 0.7rem 4.7rem;
  border-radius: 1.5rem;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  border: none;
  color: #674baf;
  font-size: 0.75rem;
}

.text-register:hover {
  background-color: #e882e8;
  color: white;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding: 0 4rem 1rem 4rem;
}

.footer-socials li {
  display: inline-block;
}

.footer-socials a {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid white;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  text-decoration: none;
}

.footer-socials a:hover {
  color: #e882e8;
  border-color: #e882e8;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: white;
}

@media only screen and (min-width: 60rem) {
  body {
    padding: 4.5rem;
    background-image: url(/images/bg-desktop.svg);
  }
  .header-logo {
    height: 3rem;
  }
  .main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 3rem;
  }
  .text {
    margin-left: 3.75rem;
    text-align: left;
    -ms-flex-preferred-size: 42%;
        flex-basis: 42%;
  }
  .text-title {
    font-size: 2.5rem;
  }
  .text-content {
    font-size: 1.125rem;
  }
  .text-register {
    padding: 1rem 4.7rem;
    font-size: 1rem;
    border-radius: 2rem;
    margin: 0;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  }
  .footer-socials {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    gap: 1rem;
    padding-right: 1rem;
  }
}
/*# sourceMappingURL=styles.css.map */