// Variables
//colors
$primary-violet: hsl(257, 40%, 49%);
$primary-soft-magenta: hsl(300, 69%, 71%);

// typeface
$font-family-primary: "Poppins", sans-serif;
$font-family-secondary: "Open Sans", sans-serif;
$size-x-large: 2.5rem;
$size-large: 1.5rem;
$size-medium: 1.125rem;
$size-small: 0.75rem;
$weight-normal: 400;
$weight-bold: 600;

// breakpoints for different screen sizes
$layout-breakpoint-medium: 60rem; //960px
$layout-breakpoint-large: 75rem; // 1200px

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
#root,
#__next {
	isolation: isolate;
}

// layout styles
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: $font-family-primary;
	padding: 2.2rem;
	background-color: $primary-violet;
	background-image: url(/images/bg-mobile.svg);
	background-repeat: no-repeat;
	color: white;
}

.header {
	text-align: left;

	&-logo {
		height: 1.9rem;
	}
}

.main {
	display: flex;
	flex-direction: column;
	padding: 3.8rem 0 2rem 0;
}

.text {
	padding: 3.75rem 0 2rem 0;
	text-align: center;

	&-title {
		font-size: $size-large;
		font-weight: $weight-bold;
	}

	&-content {
		font-family: $font-family-secondary;
		padding: 1rem 0 1.5rem 0;
	}

	&-register {
		display: block;
		width: 12.5rem;
		background-color: white;
		margin: 0 auto;
		text-decoration: none;
		padding: 0.7rem 4.7rem;
		border-radius: 1.5rem;
		box-shadow: 0px 2px 2px 0px hsla(0, 0%, 0%, 0.25);
		border: none;
		color: $primary-violet;
		font-size: $size-small;

		&:hover {
			background-color: $primary-soft-magenta;
			color: white;
			box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.25);
		}
	}
}

// footer  styles
.footer-socials {
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style-type: none;
	padding: 0 4rem 1rem 4rem;

	& li {
		display: inline-block;
	}

	& a {
		color: white;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid white;
		border-radius: 50%;
		width: 2.5rem;
		height: 2.5rem;
		text-decoration: none;

		&:hover {
			color: $primary-soft-magenta;
			border-color: $primary-soft-magenta;
		}
	}
}
.attribution {
	font-size: 11px;
	text-align: center;

	& a {
		color: white;
	}
}

@media only screen and (min-width: $layout-breakpoint-medium) {
	body {
		padding: 4.5rem;
		background-image: url(/images/bg-desktop.svg);
	}
	.header-logo {
		height: 3rem;
	}
	.main {
		flex-direction: row;
		padding-top: 3rem;
	}
	.text {
		margin-left: 3.75rem;
		text-align: left;
		flex-basis: 42%;

		&-title {
			font-size: $size-x-large;
		}

		&-content {
			font-size: $size-medium;
		}

		&-register {
			padding: 1rem 4.7rem;
			font-size: 1rem;
			border-radius: 2rem;
			margin: 0;
			box-shadow: 0px 2px 2px 0px hsla(0, 0%, 0%, 0.25);
		}
	}
	.footer-socials {
		justify-content: end;
		gap: 1rem;
		padding-right: 1rem;
	}
}
